/* === MODAL === */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 33%;
  max-height: 60%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.modal-title {
  font-size: 25px;
  font-weight: 600;
  color: black;
  margin: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 210px;
    height: 120px;
    margin-bottom: 10px;
    object-fit: contain;
  }
}

.modal-text p {
  text-align: center;
  font-size: 18px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin: 40px 0 10px 0;

  .modal-confirm {
    background: #133C55;
    color: white;
    border: none;
    border-radius: 10px;
    width: 25%;
    padding: 5px 10px;
    cursor: pointer;
  }
}

:host {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  width: 100%;
}


.content {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ada9a9;
  width: 480px;
  background: white;
}


.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}


.photo {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .profile-photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
  }

  .photo-button {
    margin-top: 10px;
    background-color: #dbdbdb;
    padding: 6px 18px;
    border-radius: 10px;
    cursor: pointer;
  }
}


.campos {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.form-label {
  font-size: 14px;
  margin-bottom: 4px;
}

.form-control {
  border: 1px solid #ada9a9;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  background: #fafafa;
}

.save {
  display: flex;
  justify-content: center;

  .button-save {
    margin-top: 20px;
    background-color: #133C55;
    color: white;
    padding: 8px 32px;
    border-radius: 10px;
    cursor: pointer;
  }
}