
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 33%;
  max-height: 60%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.modal-title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 210px;
    height: 120px;
    margin-bottom: 10px;
    object-fit: contain;
  }
}

.modal-text p {
  text-align: center;
  font-size: 18px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .modal-confirm {
    background: #133C55;
    color: white;
    border: none;
    border-radius: 10px;
    width: 25%;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.perfil-layout {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
  width: calc(100% - 350px);
  margin-left: 350px;
  align-items: stretch;
  overflow: hidden;
}
.card-box {
  width: 460px;
  padding: 25px;
  background: white;
  border-radius: 12px;
  border: 1px solid #dcdcdc;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content {
  @extend .card-box;
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }

  .photo-button {
    background-color: #dbdbdb;
    padding: 6px 18px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.campos {
  display: flex;
  flex-direction: column;
}

.seguidores {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  font-size: 16px;
  margin-top: 10px;
}
  .seguidores p {
    margin: 0;
  }

  strong {
    font-weight: 600;
  }


.form-label {
  font-size: 14px;
  margin-bottom: 4px;
}

.form-control {
  border: 1px solid #ada9a9;
  border-radius: 10px;
  padding: 10px;
  background: #fafafa;
  outline: none;
}

.save {
  display: flex;
  justify-content: center;

  .button-save {
    background-color: #133C55;
    color: white;
    padding: 8px 32px;
    border-radius: 10px;
    cursor: pointer;
  }
}


.last-posts-container {
  @extend .card-box;

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px;
  }
}

.last-posts {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.post-preview-card {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  }
}

.post-header {
  display: flex;
  gap: 10px;
  align-items: center;

  .post-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
  }

  .post-info {
    display: flex;
    flex-direction: column;

    .post-author {
      font-weight: 600;
    }

    .post-date {
      font-size: 12px;
      color: #777;
    }
  }
}

.post-content {
  margin: 8px 0;
  font-size: 14px;
}

.post-image {
  width: 100%;
  border-radius: 10px;
  max-height: 180px;
  object-fit: cover;
}